:root {
    --blue: #366ad9;
    --black: #010101;
    --grey: #858585;
}

::placeholder {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: url('../res/img/registerExamsHomeBacground.svg') no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
}

#navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

#navbar img {
    margin-left: 30px;
    height: 35px;
}

#navbar div h4 {
    margin-right: 40px;
}

#navbar div a {
    text-decoration: none;
    padding: 5px 30px;
    background-color: var(--blue);
    border-radius: 10px;
    color: #fff;
    transition: 0.3s;
}

#navbar div a:hover {
    transform: scale(1.2);
}

#year-picker-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#year-picker-container h5 {
    color: var(--grey);
}

#year-picker-container #message {
    margin-left: auto;
    margin-right: 0;
    font-weight: bold;
}

#custom-select {
    width: 250px;
}

#custom-select select {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 30px;
    font-weight: bold;
    outline: none;
    color: #fff;
    background-color: var(--blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
}


#exams-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#exams {
    width: 95%;
    display: grid;
    margin-top: 30px auto;
    grid-template-columns: auto auto auto auto;
    gap: 30px 70px;
    justify-content: center;
}

.exam-item {
    position: relative;
    height: 400px;
    width: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    align-items: center;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
    background: url('../res/card-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.exam-item:hover {
    transform: rotateY(180deg);
}

.exam-item-front, .exam-item-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.exam-item-front h3 {
    width: 270px;
}

.exam-item-back {
    transform: rotateY(180deg);
}

.exam-item-back button {
    padding: 15px 80px;
    background-color: var(--blue);
    border-radius: 10px;
    color: #fff;
    transition: 0.3s;
    border: none;
    outline: none;
    margin-top: 70px;
    cursor: pointer;
}

.exam-item-back button:hover {
    transform: scale(1.2);
}

.card-ribbon {
    width: 100%;
    height: 12.45px;
    background: linear-gradient(#4b4ea9 0%, #405dc2 41.84%, #3769d7 100%);
}

.books-img {
    margin-top: 50px;
    background: url('../res/books.png') no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
}

#registered-exams-container {
    text-align: center;
    margin: 40px auto;
    padding-bottom: 50px;
    width: 90%;
    background-color: #fff;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
}

#reg-exams-table {
    width: 80%;
    margin: 20px auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
}

#reg-exams-table tr:nth-child(1){
    background-color: var(--blue);
    color: #fff;
    height: 40px;
}

#reg-exams-table td {
    border: 1px solid var(--grey);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--black);
    font-size: 16px;
}

#search-container {
    height: 40px;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16);
}

#search-container img {
    width: 25px;
    height: 25px;
    margin: 0 30px;
}

#search-container input {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid var(--blue);
    height: 30px;
    outline: none;
}

#search-container input::placeholder {
    color: var(--blue);
}

#search-container h3 {
    margin-left: 30px;
    color: var(--grey);
}


.exam-name-row {
    text-align: left;
    padding-left: 20px;
}

#change-password {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.16); 
}

#change-password h3 {
    margin-top: 20px;
} 

#change-pw-btn {
    background-color: #fff;
    border: none;
    padding: 7px;
    color: var(--black);
    margin-top: 0px;
    margin-right: 30px;
    cursor: pointer;
    outline: none;
}

#change-pw-btn:hover {
    border-bottom: 2px solid var(--grey);
}

#password-change-error-msg {
    font-size: 12px;
    font-weight: bold;
    margin: 15px 20px;
}

#close-btn {
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 12px;
    outline: none;
    background-color: var(--blue);
    cursor: pointer;
}
#change-password form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20 auto;
}

#change-password form input {
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--grey);
}

#change-password form input[type=submit]{
    padding: 15px 40px;
    background-color: var(--blue);
    border-radius: 10px;
    color: #fff;
    transition: 0.3s;
    border: none;
    outline: none;
    margin-top: 70px;
    cursor: pointer;
}

#change-password form input[type=submit]:hover {
    transform: scale(1.2);
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border: 1px solid #979899;
    border-radius: 10px;
  }
  